body, html {
	height: 100%;
	margin: 0;
}

.banner{
	/* The image used */
	background-image: url("../img/banner01.jpg");
	/* Full height */
	height: 100%;
	opacity: 0.9;
	/* Center and scale the image nicely */
	background-repeat: no-repeat;
	background-size: cover;
}


.banner-text{
	color: white;
}

.banner h1 {
  color: #b37983;
}

.sec-top .container {
	padding-left: 9%;
	padding-right: 9%;
}

@media (max-width: 768px) {
	.banner-text{
		color: white;
	}

	.banner{
		/* The image used */
		background-image: url("../img/banner01.jpg");

		/* Full height */
		height: 50%;

		/* Center and scale the image nicely */
		background-repeat: no-repeat;
		background-size: cover;
	}

}

.container p{
	max-width: 100%;
	font-size: 1.1rem;
	margin-top: 15px;
}

.sec-top {
	margin-top: 10%;
}


.container h2 {
	margin-top: 10%;
}



.footer-distributed{
	background-color: #ffdbe6;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 15%;
}

.footer-distributed .footer-left p{
	color:  white;
	font-size: 14px;
	margin-top: 10px;
}

.footer-distributed .footer-right{
	float: right;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #f1b3be;
	border-radius: 2px;

	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

.btn-pink {
    background-color: #b30059;
    color: white;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
