{{> acesso_publico/layouts/top_page_layout.mustache}}

{{> acesso_publico/layouts/nav.mustache}}

<section class="mt-5" id="ajudar" style="height : 85%">

	<div class="container">
		<h1>Voluntariado</h1>


		<div class="article-body text-justify mt-4">
			<p>Para ser um voluntário da Rede Feminina de Combate ao Câncer de Corumbá é necessário amor ao próximo e vontade de ajudar, pois a pessoa assume um compromisso com a instituição e com os pacientes. Além disso, os interessados precisam preencher alguns requisitos.
</p>
			<ul>
				<li>Ter mais de 18 anos.</li>
				<li>Comparecer a sede da Rede Feminina, manifestar sua vontade e preencher uma ficha de inscrição com os seus dados pessoais.</li>
				<li>Informar o dia da semana e o período do dia (manhã ou tarde) que tem disponibilidade para trabalhar.</li>
				<li>O voluntário passará por um período de estágio de três meses para entender o funcionamento, as normas e a filosofia de trabalho.</li>
				<li>Após conclusão do estágio, você será oficialmente um voluntário da Rede Feminina de Combate ao Câncer de Corumbá.</li>
			</ul>
		</div>
	</div>
</section>



<section class="mt-5">

	<div class="container">
		<h1>Contribuições</h1>

		<div class="article-body text-justify mt-3">
			<p>A Rede Feminina de Combate ao Câncer de Corumbá (CNPJ: 07.964.837/0001-08) não recebe permanentemente quaisquer subvenções públicas e depende totalmente de recursos doados pelas empresas ou por pessoas físicas.</p>
			</p>Sua cooperação é fundamental.</p>
			<p><strong>Doações:</strong></p>

			<ul>
				<li>Doações em dinheiro independente da quantia e periodicidade.</li>
				<li>Doações de roupas, sapatos, bolsas, acessórios e brinquedos, todos em bom estado.</li>
				<li>Alimentos não perecíveis (arroz, feijão, macarrão, açúcar, óleo, leite, gelatina)</li>
				<li>Suplementos alimentares (vou te passar depois)</li>
				<li>Fraldas geriátricas</li>
			</ul>


			<p><strong>Sócio-contribuinte:</strong> Contribui mensalmente através de boletos. O valor da contribuição é determinado pelo próprio doador.</p>

			<p><strong>Troco solidário:</strong> as empresas interessadas em ajudar poderão solicitar as caixinhas de troco que comumente são colocadas próximas aos operadores de caixa, dessa forma os clientes poderão contribuir depositando parte de seu troco.</p>

			<p>Faça parte dessa corrente solidária e solicite já sua caixinha.</p>
		</div>
	</div>
</section>


{{> acesso_publico/layouts/footer.mustache}}

{{> acesso_publico/layouts/bottom_page_layout.mustache}}
