{{> acesso_publico/layouts/top_page_layout.mustache}}

{{> acesso_publico/layouts/nav.mustache}}


<section style="height : 85%">

		<h1>Depoimentos</h1>

	<div class="article-body text-justify mt-4">
		<blockquote class="blockquote">
		  <p class="mb-0">A Rede Feminina para mim é o meu segundo lar, considero as voluntárias a minha segunda familia. Aqui o contato com cada uma delas é mais que amizade, podemos contar com um ombro amigo, conseguimos através delas remédios que não temos condições de comprar, frutas, cereais e cesta básica que nos ajuda e muito. Aqui nós pacientes somos muito bem acolhidos, onde me sinto muito bem, minha vida mudou muito depois que passei a freguentar a casa da Rede Feminina, mudou para melhor, hoje sou uma pessoa feliz. </p>
		  <footer class="blockquote-footer">Josiane Maciel</footer>
		</blockquote>
		<hr>
	</div>

	<div class="article-body text-justify mt-5">
		<blockquote class="blockquote">
		  <p class="mb-0">LA Rede Feminina de Combate ao Câncer junto às voluntárias desenvolvem um trabalho de recuperação da saúde e da autoestima dos pacientes. Aqui os pacientes se sentem como se estivessem em sua própria casa, aqui eu recuperei a minha saúde, amo muito tudo isso.
</p>
		  <footer class="blockquote-footer">Joana Domingues</footer>
		</blockquote>
		<hr>
	</div>

	<div class="article-body text-justify mt-5">
		<blockquote class="blockquote">
		  <p class="mb-0">A Rede Feminina significa muito para mim, foi onde encontrei ajuda de todas as voluntárias, sempre todas atenciosas e com uma palavra amiga. Foi na Rede Feminina que encontrei forças para lutar contra a minha enfermidade e hoje estou curada, tenho só que agradecer por essas pessoas maravilhosas que tenho um imenso carinho.
Só Deus para recompensar o que cada uma delas fizeram e fazem por mim, Deus abençoe todas!</p>
		  <footer class="blockquote-footer"> Elga</footer>
		</blockquote>
		<hr>
	</div>


</section>



{{> acesso_publico/layouts/footer.mustache}}

{{> acesso_publico/layouts/bottom_page_layout.mustache}}
