{{> acesso_publico/layouts/top_page_layout.mustache}}  

{{> acesso_publico/layouts/nav.mustache}}  


<!-- Banner da página -->
<section class="banner">
	<div class="container h-100">
	  <div class="row h-100 justify-content-end align-items-center">
		<div class="col-lg-4">
		  <h1 class="banner-text"><strong>Rede feminina em combate contra o cancer de mama</strong></h1>
		  <p class="banner-text"> Ipsum lorem de la eroe</p>
		</div>
	  </div>
	</div>
</section>


<!-- Área de informações -->
<section class="sec-top">
	<div class="container">
		<h1>Informações</h1>
		<br>
		<div class="row justify-content-center mt-3">
			<div class="col-md">
				<a href="/luta_contra_cancer"><img src="img/cancer.png" alt="" class="img-thumbnail mx-auto d-block m-3"></a>
			</div>
			<!--div class="col-md">
				<img src="{{app.baseUrl}}/img/eventos.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div-->
			<div class="col-md">
				<a href="/outubro_rosa"><img src="img/outubro-rosa.png" alt="" class="img-thumbnail mx-auto d-block m-3"></a>
			</div>
			<div class="col-md">
				<a href="/como_ajudar"><img src="img/ajuda.png" alt="" class="img-thumbnail mx-auto d-block m-3"></a>
			</div>
		</div>
	</div>
</section>


<section class="sec-top" id="quem-somos">
	<div class="container">
		{{quemSomos}}
	</div>
</section>




{{> acesso_publico/layouts/footer.mustache}}

{{> acesso_publico/layouts/bottom_page_layout.mustache}} 
