{{> acesso_publico/layouts/top_page_layout.mustache}}

{{> acesso_publico/layouts/nav.mustache}}

<div class="b-4" style="padding:20px">
	<span></span>
</div>
<section class="sec-top" style="height: 85%">

	<div class="container">
		<h1>Outubro Rosa</h1>
		<div class="article-body text-justify mt-4">
			<p>O movimento popular conhecido como Outubro Rosa é comemorado em todo o mundo. Nasceu nos Estados Unidos na década de 1990 para estimular a participação da população no controle do câncer de mama.</p>

			<p>O Outubro Rosa é uma campanha de conscientização que tem como objetivo principal alertar as mulheres e a sociedade sobre a importância da prevenção e do diagnóstico precoce do câncer de mama. Esta campanha acontece com mais intensidade no mês de outubro e tem como símbolo o laço cor de rosa.</p>

			NOVEMBRO AZUL

			<p>O Novembro Azul é uma campanha dirigida à sociedade e, em especial, aos homens, para conscientização a respeito de doenças masculinas, com ênfase na prevenção e no diagnóstico precoce do câncer de próstata.</p>
		</div>
	</div>
</section>


{{> acesso_publico/layouts/footer.mustache}}

{{> acesso_publico/layouts/bottom_page_layout.mustache}}
