{{> acesso_publico/layouts/top_page_layout.mustache}}

{{> acesso_publico/layouts/nav.mustache}}

<div class="b-4" style="padding:20px">
	<span></span>
</div>
<!-- Parceiros -->
<section class="sec-top">

		<div class="row justify-content-center">
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/1.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/2.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/3.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/4.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/5.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/6.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/7.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/8.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/9.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/10.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/11.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
			<div class="col-md col-md-3">
				<img src="{{app.baseUrl}}/img/12.png" alt="" class="img-thumbnail mx-auto d-block m-3">
			</div>
		</div>
</section>


{{> acesso_publico/layouts/footer.mustache}}

{{> acesso_publico/layouts/bottom_page_layout.mustache}}
